@using Microsoft.AspNet.Identity
@model IEnumerable<GTBookSwap.Models.Buy_User>

<div class="box box-info" style="overflow:auto">
    <div class="box-body">
        <table id="part" class="table table-hover">
            @if (Model.Count() == 0)
            {
                <tr style="text-align:center">
                    <td colspan="4">No item to display</td>
                </tr>
            }
            else
            {


                foreach (var item in Model)
                {
                    if (item.Title != null)
                    {
                        <tr class="header" style="text-align:center">

                            <td>@Html.DisplayFor(modelItem => item.Title)</td>
                            <td>@Html.DisplayFor(modelItem => item.Major)</td>
                            <td>@Html.DisplayFor(modelItem => item.Course_num)</td>
                            <td>@Html.DisplayFor(modelItem => item.Desc)</td>

                            <td style="vertical-align:middle">
                                @Html.ActionLink(" ", "BuyEdit", new { id = item.ID }, htmlAttributes: new { @class = "glyphicon glyphicon-edit" }) |
                                @Html.ActionLink(" ", "BuyDelete", new { id = item.ID }, htmlAttributes: new { @class = "glyphicon glyphicon-trash" })
                            </td>

                        </tr>

                        <tr>
                            <td colspan="9">
                                @{Html.RenderAction("PAction", new { id = item.ID });}
                            </td>


                        </tr>
                    }
                }
            }
        </table>
    </div>
</div>
